target
.DS_Store
.project
.settings
.classpath
.idea
*.iml
*.log
*.log.*
*.old
*.obj
*.zip
data/doi
data/entries
data/fail
data/*.pdf
data/*.png
my_config.json
__pycache__
doc/
build/
dist/
grobid_client_python.egg-info/
